version: "3.8"

services:
  mongo-rs:
    image: mongo:7
    container_name: mongo-rs
    ports:
      - "27018:27018"
    command: >
      mongod --port 27018 --replSet rs0 --bind_ip_all
    volumes:
      - mongo-rs-data:/data/db

  mongo-rs-init:
    image: mongo:7
    depends_on:
      - mongo-rs
    restart: "no"
    entrypoint: ["bash", "-lc"]
    command: >
      '
      until mongosh "mongodb://mongo-rs:27018/admin" --eval "db.adminCommand({ ping: 1 })" >/dev/null 2>&1; do
        echo "waiting for mongo...";
        sleep 1;
      done;

      echo "initiating replica set...";
      mongosh "mongodb://mongo-rs:27018/admin" --eval "
        rs.initiate({
          _id: \"rs0\",
          members: [{ _id: 0, host: \"localhost:27018\" }]
        })
      ";

      echo "rs initiated";
      '
volumes:
  mongo-rs-data:
